.row
  .col-xs-4.col-xs-offset-1
    h3 Contact Info
    h5 Name: {{contact.name}}
    h5 Address: {{contact.address}}
    h5 Birthday: {{contact.birthday | date:yyyy-MM-dd}}
    h5: a(href='tel:{{contact.phoneNumber}}') Phone Number: {{contact.phoneNumber}}
    h5: a(href='mailto:{{contact.email}}', target="_blank") E-Mail: {{contact.email}}
    h5: a(href='{{contact.homepage}}', target="_blank") Home Page: {{contact.homepage}}
    h5: a(href='{{contact.twitter}}', target="_blank") Twitter: {{contact.twitter}}
    h5: a(href='{{contact.facebook}}', target="_blank") FaceBook: {{contact.facebook}}
  .col-xs-4
    img#showPhoto(ng-src='{{contact.photo}}')
    btn.btn.btn-sm.btn-warning(ng-click='editContact(contact)') Edit Contact
