button.btn.btn-info(ng-click='addNewContact()') Add New Contact

.row
  .col-xs-4.col-xs-offset-4
    h3.text-center Your Contacts
    table.table.table-striped
      tbody
        tr(ng-repeat='contact in contacts')
          td: h5(ng-click='showContact(contact)') {{contact.name}}
          td: button.btn.btn-xs.btn-danger.pull-right(ng-click='deleteContact(contact)') Delete
